<!DOCTYPE html>
<html>
	<head>
		<title>Strange</title>
	</head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<body>
		<center>
			<div id="chatbox">
				
			</div>
			<form action="send" method="post">
				<input style="width: 80%;margin-left: 5%;" type="text" name="mbox"><br>
				<input type="submit">
			</form>
		</center>
	</body>
</html>
