<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<body>
	<form action="/login" method="post">
		<center>
			<div id="login" class="myform">
				<label for="username">UserId:</label>
				<input type="text" name="username" placeholder="username"><br><br><br>
				<label for="gender">Gender:</label>
				<select>
					<option>Male</option>
					<option>Female</option>
					<option>Gay</option>
					<option>Lesbian</option>
				</select><br><br><br>
				<label for="country">Country:</label>
				<select>
					<% include options %>
				</select><br><br><br>
				<input type="submit" value="Enter">
			</form>
		</div>
	</center>
</body>
</html>