a {
  color: #00B7FF;
}

#chatbox {
	border: double; 
	width:80%;
	height: 500px;
	margin: 5% 0 0 5%;
	overflow: scroll;
}

#login {
	margin-top: 10%;
	border: ridge;
	width: 25%;
	height: 330px;
	text-align: left;
	overflow: auto; 
}


.myform *{
	height:30px;
	width:90%;
	border-style: double;
	color: white;
	background-color: gray;
	padding-top: 1%;
	list-style: none;
}
