.box{
  text-align: center;
  margin-top: 30%;
  border-style: solid;
  max-width: 40%;
  overflow: scroll;
  background-color: #994d00;
}

.box *{
  font-size: 2vw
}

label{
  color: white;
}

.button{
  border-style: ridge;
}

.button:hover{
  border-left-width: 10px;
  border-bottom-width: 10px;

}

.button:active{
  border-width: 0px;

}
